@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 3";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6 center-container">
        <!--header with my preferred name-->
        <h1>Ezra Marin</h1>
    </div>
    <div class="col-3"></div>
</div>
<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-5">
        <!--paragraph on what I hope to get out of IS 413-->
        <p>I hope to learn how to create web apps using the .NET MVC framework, learn how to use C#, and learn security measures to protect my code</p>
    </div>
    <div class="col-5 center-container">
        <p><b>Some of my friends and I after playing basketball</b></p>
        <img src="IMG_2815.JPEG" />
    </div>
    <div class="col-1"></div>
</div>
<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-5">
        <p><b>Jobs I'm interested in:</b></p>
        <ol>
            <li>Data Analyst</li>
            <li>Software Developer</li>
            <li>Cybersecurity</li>
        </ol>
    </div>
    <div class="col-5"></div>
    <div class="col-1"></div>
</div>






